<mat-sidenav-container class="sidenav-container">

  <mat-sidenav mode="side"  #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
     
      [opened]="false">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let option of menu_options" mat-list-item href="/#" ng-click="setViewOption(option)">{{option}}</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
   <router-outlet name="sub"></router-outlet> 
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>
