
<div class="loginbox "><div class="center me">
    <div class="flexible">
<mat-form-field >
    <mat-label>Username</mat-label>
    <input  matInput>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Password</mat-label>
    <input matInput>
  </mat-form-field>
  <button class="login" mat-button (click)="login({name:'John',password:'1234'})">Click me!</button>
</div>

</div>
</div>