/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(131, 28, 28, 0.7);
}
button.login {
   
    margin: 0 auto;
    font-size: 15px;
    background: rgba(131, 28, 28, 0.7);
    border-radius: 20px;
    padding: 6px 30px;
    color:white
}
.loginbox {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.center.me {}

.center.me {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
}

.flexible {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}
body{
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-clear-531880.jpg&fm=jpg);
}
.sidebar {
    width: 200px;
    position: fixed;
    height: calc(100vh - 100px);
    background: #ffffff99;
    top: 60px;
    padding: 20px;
    display:none
}
nav {
  position: fixed;
  top: 0;
  width: calc(100vw - 40px);
  padding: 20px;
  background: #000000c7;
  display:none
}


